body {

    background: linear-gradient(132deg, #bd0771, #1660c1);
    background-size: 400% 400%;
    animation: BackgroundGradient 5s ease infinite;
    
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.sign_btn {
width: 113px;
padding: 17px;
background-color: transparent;
margin-left: 18px;
border-radius: 27px;
color: white;
font-weight: bold;
font-size: 14px;
}
.button_login{
font-size: 20px;
font-weight: bold; 
text-decoration: none;
color: white;
margin-left: 1069px;
}

.button {
padding: 18px 59px;
background-color: #ff0040;
color: white;
font-weight: bold;
font-size: 19px;
border: 2px solid #ff0040;
margin-left: 154px;
margin-top: 20px;
}
.button2
{
    margin-left: 27px;
}
h1
{
    color:white;
    margin-left: 54px;
    margin-top: 58px;
    font-family: Arial, Helvetica, sans-serif
}
.image_chat
{
    width: 7%;
    margin-left: 76px;
    padding-top: 52px
}
.chat_1
{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 33px;
    margin: 10px 0;width: 10%; 
    margin-left: 153px;
}
.chat_1 > p
{
    padding-left: 19px;
}
.chat_2 
{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 33px;  
    padding: 10px;
    margin: 10px 0; 
    width: 62%; 
    margin-left: 145px; 
    margin-top: 30px;
}
.chat_3
{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 33px; 
    margin: 10px 0;
    width: 10%;
    margin-top: 40px;
    margin-left: 1111px;
}
.chat_3 > p
{
    padding-left: 19px;
}
.gif
{
    margin-left: 143px;
    margin-top: 40px;
    width: 40%;
}
.chat_4
{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 33px;
    margin: 10px 0;
    width: 23%;
    margin-top: 40px;
    margin-left: 145px; 
    padding: 9px;
}
.chat_4 > p
{
    padding-left: 13px;
}
.section_final > p
{

    text-transform: uppercase;
    color: white;
    margin-left: 153px;
    margin-top: 20px;
}
.final_projet
{
    color: white;
    margin-left: 147px;
}